@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <p>You can find <a href="https://github.com/v-ivanchuk/Family-budget">the latest Family budget project version on GitHub</a>.</p>
</div>
