@model Family_budget.Models.UserExpense

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UserExpense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="User.Id" />
            <input type="hidden" asp-for="User.Name" />
            <div class="form-group">
                <label asp-for="Expense" class="control-label"></label>
                <input asp-for="Expense" class="form-control" />
                <span asp-validation-for="Expense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountDate" class="control-label"></label>
                <input asp-for="CountDate" class="form-control" />
                <span asp-validation-for="CountDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (Model != null && Model.User != null)
    {
        <a asp-action="Index" asp-route-id="@Model.User.Id">Back to List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
